# Database
DATABASE_URL="postgresql://user:password@localhost:5432/homelab"

# Kinde Auth
NUXT_KINDE_CLIENT_ID=your_client_id_here
NUXT_KINDE_CLIENT_SECRET=your_client_secret_here
NUXT_KINDE_AUTH_DOMAIN=https://your-domain.kinde.com
NUXT_KINDE_REDIRECT_URL=http://localhost:3000/api/callback
NUXT_KINDE_LOGOUT_REDIRECT_URL=http://localhost:3000
NUXT_KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000/login-redirect
NUXT_KINDE_PASSWORD=your_password_here

# Application
NODE_ENV=development
